<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907418393399-gbdepfpuqpo2hh0747govm1c5mdi48d3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907418393399-gbdepfpuqpo2hh0747govm1c5mdi48d3</string>
	<key>API_KEY</key>
	<string>AIzaSyCp7KSoAoSShvapuvYjF4z1M9cB2O46bp4</string>
	<key>GCM_SENDER_ID</key>
	<string>907418393399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khots.Aegis</string>
	<key>PROJECT_ID</key>
	<string>aegishack-c460d</string>
	<key>STORAGE_BUCKET</key>
	<string>aegishack-c460d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907418393399:ios:72b65830ae5e286c</string>
	<key>DATABASE_URL</key>
	<string>https://aegishack-c460d.firebaseio.com</string>
</dict>
</plist>